:root {
    --row-numbers: 16;
}


.container {
    display: grid;
    grid-template-columns: repeat(var(--row-numbers), 1fr);
    column-gap: 0px;
    row-gap: 0px;
    width: 80vh;
    height: 80vh;
}

.oneBoxStyle {
    background-color: black;
    height: 100%;
    width: auto;
}

.borderLit {
    background-color: red;
}